.yliway-assist-chips{
    display: flex;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    .yliway-assist-chips-icon{
        display: flex;
        justify-items: center;
        align-items: center;
    }
    .yliway-assist-chips-label{
        font-size: 11px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: .5px;
    }
}
