.yliway-icon-button-regular{
  width: 40px;
  height: 40px;
}
.yliway-icon-button-circular{
  border-radius: 50%;
}
.yliway-icon-button{
  background-color: #F7F2F7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 1px 3px 1px #00000026;
  box-shadow: 0px 1px 2px 0px #0000004D;
}