
.article-card-container-main {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .article-title {
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        color: #051F4E;
        cursor: pointer;
        text-transform: capitalize;
    }

    .article-desc {
        font-size: 22px;
        line-height: 28px;
        font-weight: 400;
        color: #051F4E;
        cursor: pointer;
    }

    .article-card-icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .author-name-image-currentposition {
        display: flex;
        gap: 8px;
        align-items: center;

        .author-image {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .author-name-current-position {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .author-name {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0.15;
                color: #6750A4;
                text-transform: capitalize;
            }
            .author-currentposition{
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.25px;
                color: #7A757F;
                text-transform: capitalize;
            }
        }
    }

    .read-more-time-edit {
        display: flex;
        margin-top: 8px;
        justify-content: space-between;

        .read-more-time {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .time {
                display: flex;
                gap: 8px;
                align-items: center;
                font-size: 12px;
                font-weight: 400;
                line-height: 14.52px;
                color: #77838F;
            }

            .readmore {
                cursor: pointer;
                font-size: 14px;
                color: #6750A4;
                font-weight: 600;
                line-height: 16.94px;
                letter-spacing: 0.25px;
                display: flex;
                gap: 8px;
                align-items: center;
            }
        }
    }

}