$font-family_1:'Helvetica Neue', Helvetica, Arial, sans-serif;

// color

$white: white;
$primary: #6750A4;
$secondary: rgba(0, 77, 234, 1);
$secondary-hover: rgba(0, 77, 234, 92%);
$primary-hover: rgba(103, 80, 164, 92%) ; 
$primary-outlined-hover: rgba(103, 80, 164, 8%) ;
$primary-outlined: transparent;
$chocolate:#7A757F;


// border-radius
$border-radius-3rem: 3rem;

// fontsize
$font-size-14:14px;

// spacing

$spacing-10px:10px;
$spacing-24px:24px;

// border-widht

$border-widhth-1:1px;
