.image-editor-wrapper {
    width: 100%;
    background: white;
}
.ant-popover-inner-content {
    padding: 0px;
}
.select-user-auto-complete {
    .ant-select-selector {
        border: 0px solid black !important;
    }
}
.image-editor-modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    border-top: 1px solid #D1D5DB;
    width: 100%;

    button {
        border-radius: 8px;
        font-weight: 700;
        font-size: 14px;
    }

    button:nth-child(2) {
        background-color: #0F6BBF;
    }

    button:nth-child(2):hover {
        background-color: #0F6BBF;
    }

    .MuiButton-outlined {
        border-radius: 4px;
        font-weight: 600;
        line-height: 1.5715;
        position: relative;
        display: inline-block;
        color: rgba(0,0,0,.85);
        border: 1px solid #d9d9d9;
        background: #fff;
        text-transform: none;
    }

    .MuiButton-containedPrimary {
        text-transform: none;
    }

    .MuiButton-outlined:hover {
        outline: none !important;
        border:1px solid #40a9ff;
        box-shadow: 0 0 2px #719ECE;
        color: #40a9ff;
    }
}

.image-editor-select-modal {
    width: 70% !important;
    top: 20px;

    .image-editor-select-modal-header {
        margin-bottom: 40px;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: $secondary;
    }

    .image-editor-select-modal-container {
        background-color: white;
        padding: 40px;
        font-family: $font-family-base;
    }
}

.image-editor-modal {
    width: 70% !important;
    top: 20px;

    .section-title {
        color: rgba(0,0,0,.85);
        font-weight: 600;
        font-size: 20px;
        line-height: 1.4;
    }
    

    .image-editor-text-area {
        padding: 5px;   
    }

    .image-editor-text-area:focus {
        outline: none !important;
        border:1px solid #007acf;
        box-shadow: 0 0 5px #719ECE;
    }

    #canvas {
        // border: 1px solid grey;
    }

    .MuiButton-outlined {
        border-radius: 4px;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5715;
        position: relative;
        display: inline-block;
        color: rgba(0,0,0,.85);
        border: 1px solid #d9d9d9;
        background: #fff;
        text-transform: none;
    }

    .MuiButton-outlined:hover {
        outline: none !important;
        border:1px solid #40a9ff;
        box-shadow: 0 0 2px #719ECE;
        color: #40a9ff;
    }

    .canvas-tooltip {
        display: none;
        position: absolute;
        background: rgba(0,0,0,0.5);
        border-radius: 4px;
        color: white;
        padding: 6px 8px;
        border-radius: 4px;
        align-items: center;
    }

    .title {
        font-size: 14px;
        font-weight: 700;
    }

    .slider-title {
        font-size: 12px;
        font-weight: 500;
    }

    .image-editor-slider {
        width: 95%;
    }

    .image-editor-modal-header {
        border-bottom: 1px solid #D1D5DB;
    }

    .file-drag-select {
        padding: 20px 45px;
    }

    .image-preview {
        border-right: 1px solid #D1D5DB;
        text-align: center;
    }

    .image-editor-crop-wrapper {
        border-bottom: 1px solid #D1D5DB;
        .ant-btn {
            border-radius: 4px;
            font-size: 12px;
            font-weight: 600;
        }
    }

    .image-editor-position-wrapper {
        border-bottom: 1px solid #D1D5DB;
        .optimization-icon {
            padding: 4px;
            border-radius: 4px;
            border: 0.5px solid #D1D5DB;
        }
    }

    .canvas-tooltip-wrapper {
        width: fit-content;
    }

    .image-editor-optimization-wrapper {
        border-bottom: 1px solid #D1D5DB;

        .preview-canvas-wrapper {
            text-align: center;
            position: relative;

        }
    }

    .image-editor-filters-wrapper {
        // border-bottom: 1px solid #D1D5DB;
        .filter-image-box {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .filter-canvas {
            border-radius: 4px;
        }

        /* Hide scrollbar for Chrome, Safari and Opera */
        .filter-image-box-list::-webkit-scrollbar {
            display: none;
        }
        
        /* Hide scrollbar for IE, Edge and Firefox */
        .filter-image-box-list {
            display: flex;
            flex-direction: row;
            overflow-y: hidden;
            white-space: nowrap;
            list-style-type: none;
            flex-wrap: nowrap;
            padding-inline-start: 0;
            scroll-behavior: smooth;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }

        .filter-image-box-list-wrapper {
            display: flex;
            align-items: center;
        }
        
        .filter-sroll-icon-left {
            margin-right: -10px;
            z-index: 1;
            margin-bottom: 35px;
        }

        .filter-sroll-icon-right {
            margin-bottom: 35px;
            margin-left: -10px;
        }
    }
}