.sidebar-widget-dropdown-wrapper {
	background-color: white;
	box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
	display: inline-block;
	width: 100%;
	cursor: pointer;

	.sidebar-widget-dropdown {
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.sidebar-widget-title {
			padding-left: 16px;
			font-family: "Inter", sans-serif;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			letter-spacing: 0.5px;
			text-align: left;
		}

		.sidebar-list-item {
			font-family: "Inter", sans-serif;
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
			letter-spacing: 0em;
			text-align: left;
		}
	}
	
	.sidebar-widget-dropdown-name-wrapper {
		padding: 16px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
    font-weight: 700;
		cursor: pointer;
	}
}