// Text colors
.text-blue-grey {
  color: $blue-grey;
}
.load-more-color {
  color: $primary;
}
.text-mist-blue {
  color: $mist-blue;
}

.text-charcoal-grey {
  color: $charcoal-grey;
}

.text-jungle-green {
  color: $jungle-green;
}

.text-blue-zodiac {
  color: $blue-zodiac;
}

.text-butterfly-blue {
  color: $butterfly-blue;
}

.text-concord {
  color: $concord;
}

.text-pale-sky {
  color: $pale-sky;
}

.text-fuchsia-pink {
  color: $fuchsia-pink;
}

.text-gary {
  color: $gary !important;
}

.text-blue-dress {
  color: $blue-dress;
}

.text-black {
  color: $black;
}
.text-black2{
  color: $black2;
}
.text-gunmetal {
  color: $gunmetal;
}

.text-artyclick-blue {
  color: $artyclick-blue;
}

.text-brandeis-blue {
  color: $brandeis-blue;
}

.text-geyser {
  color: $geyser;
}

.text-off-white {
  color: $off-white;
}

.text-green-primary {
  color: $green-primary;
}
.text-green-dark{
  color: $green-dark;
}

.text-jigglypuff {
  color: $jigglypuff;
}

.text-lime-acid {
  color: $lime-acid;
}

.text-secondary {
  color: $secondary;
}
.text-subnautical{
  color: $subnautical;
}
/* all new color */
.text-gray {
  color: $gray !important;
}

/* all new color */

.text-secondary-75 {
  color: rgba($secondary, 0.75);
}

.text-secondary-50 {
  color: rgba($secondary, 0.5);
}

.text-secondary-25 {
  color: rgba($secondary, 0.25);
}

.text-gary-25 {
  color: rgba($gary, 0.25);
}

.text-exquisite-turquoise {
  color: $exquisite-turquoise;
}

.text-rise-n-shine {
  color: $rise-n-shine;
}

.text-flirty-salmon {
  color: $flirty-salmon;
}

.text-subnautical {
  color: $subnautical;
}

.bg-exquisite-turquoise-16 {
  background: rgba($exquisite-turquoise, 0.16);
}

.bg-rise-n-shine-16 {
  background: rgba($rise-n-shine, 0.16);
}

.bg-flirty-salmon-16 {
  background: rgba($flirty-salmon, 0.25);
}

.bg-paper-white {
  background-color: $paper-white;
}

.bg-spanish-gey {
  background-color: $spanish-gey !important;
}

.bg-fuchsia-pink {
  background-color: $fuchsia-pink;
}

.bg-bright-grey {
  background-color: $bright-grey;
}

.bg-gary-light {
  background-color: rgba($gary, 0.05);
}

.bg-gary-15 {
  background-color: rgba($gary, 0.15);
}

.bg-black-50 {
  background-color: rgba($black, 0.5);
}

.bg-cosmos {
  background-color: $cosmos;
}

.bg-butterfly-blue {
  background-color: $butterfly-blue;
}

.bg-desert-storm {
  background-color: $desert-storm;
}

.bg-azure-blue {
  background-color: $azure-blue;
}

.bg-geyser {
  background-color: $geyser;
}

.bg-blueberry-whip {
  background-color: $blueberry-whip;
}

.bg-secondary-05 {
  background-color: rgba($secondary, 0.05);
}

.bg-primary-06 {
  background-color: rgba($primary, 0.06);
}

.bg-primary-15 {
  background-color: rgba($primary, 0.15);
}

.bg-primary-12 {
  background-color: rgba($primary, 0.12);
}

/* chart background colors - start */
.bg-cyan-cobalt-blue {
  background-color: $cyan-cobalt-blue;
}

.bg-midnight-melancholia {
  background-color: $midnight-melancholia;
}

.bg-blue-jay {
  background-color: $blue-jay;
}

.bg-out-of-the-blue {
  background-color: $out-of-the-blue;
}

.bg-adamantine-blue {
  background-color: $adamantine-blue;
}

.bg-pacific-ocean {
  background-color: $pacific-ocean;
}

.bg-apple-ii-magenta {
  background-color: $apple-ii-magenta;
}

.bg-bubble-gum {
  background-color: $bubble-gum;
}

.bg-sweet-grass {
  background-color: $sweet-grass;
}

.bg-starship {
  background-color: $starship;
}

.bg-exquisite-turquoise {
  background-color: $exquisite-turquoise;
}

.bg-rise-n-shine {
  background-color: $rise-n-shine;
}

.bg-flirty-salmon {
  background-color: $flirty-salmon;
}

.bg-doctor {
  background-color: $doctor;
}

.bg-mellow-green {
  background-color: $mellow-green;
}

.bg-squash-blossom {
  background-color: $squash-blossom;
}

.bg-soft-saffron {
  background-color: $soft-saffron;
}

.bg-indian-saffron {
  background-color: $indian-saffron;
}

.bg-scorpion-venom {
  background-color: $scorpion-venom;
}

.bg-wicked-green {
  background-color: $wicked-green;
}

.bg-greenery {
  background-color: $greenery;
}

.bg-navy {
  background-color: $navy;
}

.bg-secondary-lighter {
  background-color: $secondary-lighter !important;
}
.bg-doctor{
  background-color: #F8F9FA !important;
}
.text-secondary-purple {
  color: $secondary-purple !important;
}

/* chart background colors - end */

// Fonts size
.font-8 {
  font-size: size(8);
}

.font-10 {
  font-size: size(10);
}
.font-11 {
  font-size: size(11);
}

.font-12 {
  font-size: size(12) !important;
}

.font-13 {
  font-size: size(13);
}

.font-14 {
  font-size: size(14) !important;
}

.font-16 {
  font-size: size(16);
}

.font-16-px {
  font-size: 16px;
}

.font-18 {
  font-size: size(18) !important;
}

.font-19 {
  font-size: size(19);
}

.font-20 {
  font-size: size(20);
}

.font-22 {
  font-size: size(22);
}

.font-23 {
  font-size: size(23);
}

.font-24 {
  font-size: size(24);
}

.font-26 {
  font-size: size(26);
}

.font-28 {
  font-size: size(28);
}

.font-30 {
  font-size: size(30);
}

.font-32 {
  font-size: size(32);
}

.font-34 {
  font-size: size(34);
}

.font-36 {
  font-size: size(36);
}

.font-38 {
  font-size: size(38);
}

.font-40 {
  font-size: size(40);
}

.font-42 {
  font-size: size(42);
}

.font-44 {
  font-size: size(44) !important;
}

.font-46 {
  font-size: size(46) !important;
}

.font-52 {
  font-size: size(52) !important;
}

.font-64 {
  font-size: size(64) !important;
  @include media(down, $breakpoint-md) {
    font-size: size(40) !important;
  }
}

.font-72 {
  font-size: size(72) !important;
}

.font-lg-14 {
  @include media(down, $breakpoint-lg) {
    font-size: size(14) !important;
  }
}

.font-lg-60 {
  font-size: size(60) !important;

  @include media(down, $breakpoint-lg) {
    font-size: size(36) !important;
  }
}

.font-65 {
  font-size: size(65) !important;
}

.font-85 {
  font-size: size(85) !important;
}

.font-sm-14 {
  @include media(down, $breakpoint-sm) {
    font-size: size(14) !important;
  }
}
.font-lg-16 {
  @include media(down, $breakpoint-lg) {
    font-size: size(16);
  }
}

.font-lg-18 {
  @include media(down, $breakpoint-lg) {
    font-size: size(18);
  }
}

.font-lg-20 {
  @include media(down, $breakpoint-lg) {
    font-size: size(20);
  }
}

.font-xl-28 {
  @include media(down, $breakpoint-xl) {
    font-size: size(28);
  }
}

.font-md-80 {
  @include media(down, $breakpoint-md) {
    font-size: size(80) !important;
  }
}

.font-md-28 {
  @include media(down, $breakpoint-md) {
    font-size: size(28) !important;
  }
}

.font-md-22 {
  @include media(down, $breakpoint-md) {
    font-size: size(22) !important;
  }
}

.font-md-12 {
  @include media(down, $breakpoint-md) {
    font-size: size(12) !important;
  }
}

.font-md-16 {
  @include media(down, $breakpoint-md) {
    font-size: size(16);
  }
}

.font-xl-26 {
  @include media(down, $breakpoint-xl) {
    font-size: size(26);
  }
}

.font-xl-22 {
  @include media(down, $breakpoint-xl) {
    font-size: size(22);
  }
}

.font-md-18 {
  @include media(down, $breakpoint-md) {
    font-size: size(18);
  }
}

.font-md-20 {
  @include media(down, $breakpoint-md) {
    font-size: size(20);
  }
}

.font-md-24 {
  @include media(down, $breakpoint-md) {
    font-size: size(24);
  }
}

.font-lg-14 {
  @include media(down, $breakpoint-lg) {
    font-size: size(14);
  }
}

.font-md-14 {
  @include media(down, $breakpoint-md) {
    font-size: size(14);
  }
}

.font-sm-22 {
  @include media(down, $breakpoint-sm) {
    font-size: size(22);
  }
}

.font-sm-20 {
  @include media(down, $breakpoint-sm) {
    font-size: size(20);
  }
}

.font-sm-18 {
  @include media(down, $breakpoint-sm) {
    font-size: size(18);
  }
}
.font-sm-10 {
  @include media(down, $breakpoint-sm) {
    font-size: size(12) !important;
  }
}
.font-xl-18 {
  @include media(down, $breakpoint-xl) {
    font-size: size(18);
  }
}

.font-sm-16 {
  @include media(down, $breakpoint-sm) {
    font-size: size(16) !important;
  }
}

.font-sm-14 {
  @include media(down, $breakpoint-sm) {
    font-size: size(14);
  }
}

.font-xxl-14 {
  @include media(down, $breakpoint-xxl) {
    font-size: size(14);
  }
}

// font weight
.font-medium {
  font-weight: $font-medium !important;
}

.font-weight-semibold {
  font-weight: $font-semibold !important;
}

.font-regular {
  font-weight: $font-regular !important;
}

// width
.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}
.w-28{
  width: 28%;
}
.w-30 {
  width: 30%;
}

.w-33 {
  width: 33.3333%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-55 {
  width: 55%;
}

.w-65 {
  width: 65%;
}
.w-68 {
  width: 68%;
}
.w-82 {
  width: 82%;
}
.w-50-px {
  width: size(50);
}
.w-80{
  width: 80% !important;
}
.w-80-px {
  width: size(80);
}
.w-90-px {
  width: size(90);
}
.w-90{
  width: 90% !important;
}
.w-160 {
  width: size(160) !important;
}

.w-180 {
  width: size(180);
  @include media(down, $breakpoint-sm) {
    width: size(120);
   }
}
.w-230{
  width:size(230);
}
@include media(down, $breakpoint-sm) {
  .w-100-sm {
    width:100% !important;
  }
}
@include media(down, $breakpoint-sm) {
  .w-100-px {
    width: size(100);
  }
}

.w-sm-100-auto {
  @include media(up, $breakpoint-sm) {
    width: auto !important;
  }
}

.w-sm-100 {
  @include media(up, $breakpoint-sm) {
    width: 100px !important;
  }
}

.w-sm-150 {
  @include media(up, $breakpoint-sm) {
    width: 150px !important;
  }
}

.w-lg-50 {
  @include media(down, $breakpoint-lg) {
    width: 50% !important;
  }
}

.w-sm-100 {
  @include media(down, $breakpoint-sm) {
    width: 100% !important;
  }
}

.w-sm-150 {
  @include media(down, $breakpoint-sm) {
    width: 100% !important;
  }
}

.w-md-35 {
  @include media(down, $breakpoint-md) {
    width: 35% !important;
  }
}

.w-md-65 {
  @include media(down, $breakpoint-md) {
    width: 65% !important;
  }
}

.w-md-100 {
  @include media(down, $breakpoint-md) {
    width: 100% !important;
  }
}

.w-sm-100-w {
  @include media(down, $breakpoint-sm) {
    width: 100% !important;
  }
}

.w-lg-100 {
  @include media(down, $breakpoint-lg) {
    width: 100% !important;
  }
}

.w-xl-100 {
  @include media(down, $breakpoint-xl) {
    width: 100% !important;
  }
}

// margin
.mb-md-20 {
  @include media(down, $breakpoint-md) {
    margin-bottom: size(20) !important;
  }
}

.mb-md-15 {
  @include media(down, $breakpoint-md) {
    margin-bottom: size(15) !important;
  }
}

.mb-md-10 {
  @include media(down, $breakpoint-md) {
    margin-bottom: size(10) !important;
  }
}

.mb-md-5 {
  @include media(down, $breakpoint-md) {
    margin-bottom: size(5) !important;
  }
}

.my-15 {
  margin: size(15) 0;
}

.my-30 {
  margin: size(30) 0;

  @include media(down, $breakpoint-md) {
    margin: size(15) 0;
  }
}

.mx--20 {
  margin: 0 size(-20);
}

.mb-10 {
  margin-bottom: size(10);
}

.font-15 {
  font-size: size(15);
}

.mb-14 {
  margin-bottom: size(14);
}

.mb-20 {
  margin-bottom: size(20);
}

.mb-11 {
  margin-bottom: size(54.8568);
}

.mb-30 {
  margin-bottom: size(30);
}

.mb-40 {
  margin-bottom: size(40);
}

.mt--12 {
  margin-top: size(-12);
}

.mt-14 {
  margin-top: size(14);
}

.my-14 {
  margin-top: size(14);
  margin-bottom: size(14);
}

.mb-md-30 {
  margin-bottom: 0;
}

@include media(down, $breakpoint-md) {
  .mb-md-30 {
    margin-bottom: size(30);
  }
}

.ml-xxl-5 {
  @include media(up, $breakpoint-xxl + 1) {
    margin-left: size(48);
  }
}

.mr-xxl-5 {
  @include media(up, $breakpoint-xxl + 1) {
    margin-right: size(48);
  }
}

.px-md-xxl-5 {
  @include media(up, $breakpoint-xxl + 1) {
    padding: 0 size(48) !important;
  }
}

.m-0-auto {
  margin: 0 auto;
}

// Padding
.pt-1px {
  padding-top: size(1);
}
.py2{
  padding-top: size(2) !important;
  padding-bottom: size(2) !important;
}
.py-8{
  padding-top: size(8) !important;
  padding-bottom: size(8) !important;
}
.pb-10 {
  padding-bottom: size(10);
}

.pb-20 {
  padding-bottom: size(20);
}

.p-12 {
  padding: size(12);
}

.p-20 {
  padding: size(20);
}

.p-30 {
  padding: size(30);
}

.px-12 {
  padding-left: size(12) !important;
  padding-right: size(12) !important;
}

.px-20 {
  padding-left: size(20);
  padding-right: size(20);
}

.px-30 {
  padding-left: size(30) !important;
  padding-right: size(30) !important;
}

.px-24 {
  padding-left: size(24) !important;
  padding-right: size(24) !important;
}

.px-lg-20 {
  padding-left: size(20);
  padding-right: size(20);
}

.px-12 {
  padding-left: size(12);
  padding-right: size(12);
}

.py-12 {
  padding-top: size(12) !important;
  padding-bottom: size(12) !important;
}

.py-20 {
  padding-top: size(20);
  padding-bottom: size(20);
}

.py-30 {
  padding-top: size(30);
  padding-bottom: size(30);
}

@include media(down, $breakpoint-lg) {
  .p-md-10 {
    padding: size(10);
  }

  .px-lg-20 {
    padding-left: 0;
    padding-right: 0;
  }
}

// lineheight
.li-height-104{
  line-height: size(104) ;
  @include media(down, $breakpoint-md) {
    line-height: size(40);
  }
}
.lh-font-28-38 {
  line-height: 2.375rem;

  @include media(down, $breakpoint-lg) {
    line-height: 1.5rem;
  }
}

// lineheight
.lh-font-28-50 {
  line-height: 3.125rem;

  @include media(down, $breakpoint-lg) {
    line-height: 2.125rem;
  }

  @include media(down, $breakpoint-md) {
    line-height: 2rem;
  }
}

.lh-font-46-55 {
  line-height: 3.4375rem;

  @include media(down, $breakpoint-lg) {
    line-height: 2.125rem;
  }

  @include media(down, $breakpoint-md) {
    line-height: 2rem;
  }
}

.lh-16 {
  line-height: 1;
}

.lh-19 {
  line-height: 1.2;
}

.lh-24 {
  line-height: 1.5;
}

.lh-font-18-34 {
  line-height: 1.9;

  @include media(down, $breakpoint-lg) {
    line-height: 1.6;
  }

  @include media(down, $breakpoint-md) {
    line-height: 1.3;
  }
}

.lh-font-20-34 {
  line-height: 1.7;

  @include media(down, $breakpoint-xl) {
    line-height: 1.6;
  }

  @include media(down, $breakpoint-md) {
    line-height: 1.4;
  }
}

.lh-font-24-34 {
  line-height: 1.4;

  @include media(down, $breakpoint-lg) {
    line-height: 1.3;
  }
}

.lh-base {
  line-height: initial;
}

/* card */
.card {
  overflow: initial;
  border-color: $blueberry-whip;
  border-radius: 0;

  .card-body {
    background: $white;
    padding: size(16);
  }
}

.card-md {
  max-width: 908px;
  margin: 0 auto;
}

// box shadow
.box-shadow-none {
  box-shadow: none !important;
}

// hr
hr {
  border-top: 1px solid $blueberry-whip;

  &.hr-white {
    border-top: 1px solid rgba($white, 0.15);
  }
}

.horizontal-border {
  border-left: 1px solid $geyser;
  height: 100%;
  margin: 0 size(25);
}

.border-geyser {
  border-color: $geyser !important;
}
.border-secondary{
  border:1px solid $secondary;
}
.border-green{
  border: 1px solid $green-dark;
}
// Cusrsor
.pointer {
  cursor: pointer;
}

// border-radius  
.br-8{
  border-radius: size(8) !important;
}
.rounded-12 {
  border-radius: size(12);
}

.rounded-3 {
  border-radius: size(3);
}
.rounded-4 {
  border-radius: size(4);
}

.rounded-6 {
  border-radius: size(6);
}

.rounded-8 {
  border-radius: 0 !important;
}

.rounded-14 {
  border-radius: size(14);
}

.rounded-15 {
  border-radius: size(15);
}

.rounded-10 {
  border-radius: size(10) !important;
}

.rounded-20 {
  border-radius: size(20);
}

.rounded-24 {
  border-radius: size(24);
}

.rounded-50 {
  border-radius: size(50);
}

.rounded-t-9 {
  border-radius: size(9) size(9) 0 0;
}

.rounded-t-20 {
  border-radius: size(20) size(20) 0 0;
}

.rounded-t-8 {
  border-radius: size(8) size(8) 0 0;
}

.rounded-b-8 {
  border-radius: 0 0 size(8) size(8);
}
.rounded-b-16 {
  border-radius: 0 0 size(16) size(16);
}
// Rounded Circle
.circle-inner-icons {
  @include border-radius($rounded-pill);
  display: flex;
  align-items: center;

  .icon {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.d-grid {
  display: grid;
}

// Hover
.btn-hover-self-white {
  &:hover {
    background-color: rgba($secondary, 0.1);
  }
}

.btn-hover-icon-white {
  &:hover {
    .hover-white {
      &:before {
        color: $white !important;
      }
    }
  }
}

.hover-selfttext-primary {
  &:hover {
    color: $primary !important;
  }
}
//focus
.focus-blue{
  border-radius: 4px !important;
  &:focus{
    border: 1px solid $primary !important;
    box-shadow: 0 0 0 1px $primary !important;
  }
}

/* width 50% md only - custom css*/
.w-25-px {
  width: size(25);
}

.top--15 {
  top: size(-13);
}

.w-h-4 {
  width: size(4) !important;
  height: size(4) !important;
}

.w-h-8 {
  min-width: size(8) !important;
  height: size(8) !important;
}

.w-h-10 {
  width: size(10);
  height: size(10);
}

.w-h-15 {
  width: size(15);
  height: size(15);
}

.w-h-16 {
  width: size(16);
  height: size(16);
}

.w-h-20 {
  width: size(20);
  height: size(20);
}

.w-h-22-slides {
  width: size(22);
  height: size(22);
  margin-right: size(-12);

  &:last-child {
    margin-right: 0;
  }
}

.w-h-24 {
  width: size(24);
  height: size(24);
}

.w-h-32 {
  width: size(32);
  height: size(32);
}

.w-45-px {
  width: size(45);
}

.w-h-40 {
  width: size(40);
  height: size(40);
}

.w-h-48 {
  width: size(48);
  height: size(48);
}

.w-h-42 {
  width: size(42);
  height: size(42);

  @include media(down, $breakpoint-sm) {
    width: size(30);
    height: size(30);
  }
}

.w-h-50 {
  width: size(50);
  height: size(50);

  @include media(down, $breakpoint-sm) {
    width: size(35);
    height: size(35);
  }
}

.w-h-54 {
  width: size(54);
  height: size(54);

  @include media(down, $breakpoint-sm) {
    width: size(38);
    height: size(38);
  }
}

.w-h-44 {
  width: size(44);
  height: size(44);

  @include media(down, $breakpoint-sm) {
    width: size(30);
    height: size(30);
  }
}

.w-h-46 {
  width: size(46);
  height: size(46);

  @include media(down, $breakpoint-sm) {
    width: size(32);
    height: size(32);
  }
}

.w-h-60 {
  width: size(60) !important;
  height: size(60) !important;

  @include media(down, $breakpoint-sm) {
    width: size(48);
    height: size(48);
  }
}

.w-h-54 {
  width: size(54) !important;
  height: size(54) !important;

  @include media(down, $breakpoint-sm) {
    width: size(45);
    height: size(45);
  }
}

.w-h-70 {
  width: size(70) !important;
  height: size(70) !important;

  @include media(down, $breakpoint-sm) {
    width: size(45);
    height: size(45);
  }
}

.m-h-360 {
  max-height: size(363) !important;

  video {
    // max-height: size(450);
  }
}

.w-100-min-40 {
  width: calc(100% - size(40));
}

.w-md-50-only {
  max-width: 100%;

  @include media(down, $breakpoint-md) {
    max-width: 60%;
    display: table;
    margin: 0 auto;
  }

  @include media(down, $breakpoint-sm) {
    max-width: 100%;
  }
}

.w-fit-content {
  width: fit-content;
}

.close-position-right {
  @include position(absolute, 8px, 8px, auto, auto);
  z-index: 2;
}

// Text decoration
.text-decoration-line-through {
  text-decoration: line-through;
}

// Col Custom Padding
.row-col-10 {
  margin: 0 -6px;

  [class*="col-"] {
    padding: 0 6px;
  }
}

.col-xxl-4 {
  @include media(up, $breakpoint-sd) {
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

// Iconmoon
.text-secondary {
  &.icon {
    &::before {
      color: $secondary;
    }
  }
}

.text-geyser {
  &.icon {
    &::before {
      color: $geyser;
    }
  }
}

// Ellipsis texts {
.text-ellipsis {
  @include text-ellipsis();
}

.text-two-ellipsis {
  @include text-two-ellipsis();
}

.text-six-ellipsis {
  @include text-six-ellipsis();
}

.opacity-sm-0 {
  opacity: 0;
}

.d-sm-d-none {
  @include media(down, $breakpoint-sm) {
    display: none !important;
  }
}

.flex-shrink-sm-0 {
  @include media(up, $breakpoint-sm) {
    flex-shrink: 0 !important;
  }
}

@include media(down, $breakpoint-sm) {
  .flex-img-device {
    img {
      height: auto;
    }
  }
}

.ico-icon-dark {
  &::before {
    color: $secondary !important;
  }
}

.ico-icon-white {
  &::before {
    color: $white !important;
  }
}

.ico-icon-off-white {
  &::before {
    color: $off-white !important;
  }
}

.ico-icon-black {
  &::before {
    color: $black !important;
  }
}

// paggination

.custom-pagination {
  .rc-pagination-item,
  .rc-pagination-prev,
  .rc-pagination-next {
    background-color: $white;
    width: size(40);
    height: size(40);
    border-radius: $rounded-pill;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray;
    border: 1px solid $geyser;
    margin-right: size(16);
  }

  .rc-pagination-item-active {
    background-color: $primary;
    color: $white;
  }
}

.custom-pagination {
  .page-item {
    list-style: none;

    .page-link {
      border-radius: $rounded-pill;
      width: size(40);
      height: size(40);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: size(10);
      color: rgba($secondary, 0.5);
    }
  }

  .page-item.active {
    .page-link {
      background-color: $info;
      border-color: $info;
      color: $white;
    }
  }

  .page-item.prev,
  .page-item.next {
    .page-link {
      background-color: $info;
      border-color: $info;
      color: $white;
    }
  }
}

// Display flex
.d-sd-flex {
  @include media(up, $breakpoint-sd) {
    display: flex !important;
  }
}

// Number one by one select like pagination
.number-select {
  .number-select-box.checked {
    background-color: $info;
    border-color: $info;
    color: $white;
  }

  .number-select-box {
    width: size(40);
    height: size(40);
    background-color: $white;
    border-radius: $rounded-pill;
    border: 1px solid rgba($secondary, 0.5);
    color: rgba($secondary, 0.5);
  }

  .number-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $font-light;
  }
}

/* custom progress */
.custom-progress {
  height: size(6) !important;
  border-radius: 0 !important;
  background-color: $dark !important;
}

.custom-progress-sm-rounded {
  height: size(6) !important;
  border-radius: size(10) !important;
  background-color: $geyser !important;
}

.progress-value {
  @include position(absolute, 2px, 2px, auto, auto);
}

// height
.mn-h-60 {
  min-height: size(60);
}

.mn-h-200 {
  min-height: size(200);
}

.h-5 {
  height: size(5);
}

.h-25 {
  height: size(25) !important;
}

.h-40 {
  height: size(40) !important;
}

.mx-h-280 {
  max-height: size(280);

  img {
    max-height: size(280);
  }
}

// position
.r-auto {
  right: auto !important;
}

// search bar
.common-searchbar {
  .bx-search {
    color: $gray;
  }

  .form-control {
    padding: size(11) size(16) size(11) size(42);
    height: size(39);
    border-radius: size(8);
    font-size: size(14);
  }

  .search-inner-icon {
    @include position(absolute, size(9.4), auto, auto, size(16));
    font-size: size(19);
  }
}

.break-word {
  word-break: break-all;
}

// paggination

$color_1: rgba(0, 0, 0, 0.85);
$color_2: #1890ff;
$color_3: #40a9ff;
$color_4: #666;
$color_5: rgba(0, 0, 0, 0.25);
$color_6: #fff;
$font-family_1: Arial;
$background-color_1: #fff;
$background-color_2: transparent;
$border-color_1: #1890ff;
$border-color_2: #40a9ff;
$border-color_3: #d9d9d9;
$border-color_4: transparent;

.rc-pagination {
  margin: 0;
  padding: 0;
  font-size: 14px;
  align-items: center;
  margin-bottom: 20px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &::after {
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    content: " ";
  }
}

.rc-pagination-total-text {
  display: inline-block;
  height: 28px;
  margin-right: 8px;
  line-height: 26px;
  vertical-align: middle;
}

.rc-pagination-item {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  margin-right: 8px;
  font-family: $font-family_1;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: $background-color_1;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
  user-select: none;

  a {
    display: block;
    padding: 0 6px;
    color: $color_1;
    transition: none;

    &:hover {
      text-decoration: none;
    }
  }

  &:focus {
    border-color: $border-color_1;
    transition: all 0.3s;

    a {
      color: $color_2;
    }
  }

  &:hover {
    border-color: $border-color_1;
    transition: all 0.3s;

    a {
      color: $color_2;
    }
  }
}

.rc-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border-color: $border-color_1;

  a {
    color: $color_2;
  }

  &:focus {
    border-color: $border-color_2;

    a {
      color: $color_3;
    }
  }

  &:hover {
    border-color: $border-color_2;

    a {
      color: $color_3;
    }
  }
}

.rc-pagination-jump-prev {
  outline: 0;
  margin-right: 8px;
  display: inline-block;
  min-width: 28px;
  height: 28px;
  color: $color_1;
  font-family: $font-family_1;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: $color_4;

    &:after {
      display: block;
      content: "•••";
    }
  }
}

.rc-pagination-jump-next {
  outline: 0;
  margin-right: 8px;
  display: inline-block;
  min-width: 28px;
  height: 28px;
  color: $color_1;
  font-family: $font-family_1;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: $color_4;

    &:after {
      display: block;
      content: "•••";
    }
  }
}

.rc-pagination-prev {
  margin-right: 8px;
  display: inline-block;
  min-width: 28px;
  height: 28px;
  color: $color_1;
  font-family: $font-family_1;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
  outline: 0;

  button {
    color: $color_1;
    cursor: pointer;
    user-select: none;

    &:after {
      content: "‹";
      display: block;
    }
  }

  &:hover {
    button {
      border-color: $border-color_2;
    }

    .rc-pagination-item-link {
      color: $color_2;
      border-color: $border-color_1;
    }
  }

  .rc-pagination-item-link {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;
    background-color: $background-color_1;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: none;
    transition: all 0.3s;
  }

  &:focus {
    .rc-pagination-item-link {
      color: $color_2;
      border-color: $border-color_1;
    }
  }
}

.rc-pagination-next {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  color: $color_1;
  font-family: $font-family_1;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
  outline: 0;
  margin-right: 0 !important;

  button {
    color: $color_1;
    cursor: pointer;
    user-select: none;

    &:after {
      content: "›";
      display: block;
    }
  }

  &:hover {
    button {
      border-color: $border-color_2;
    }

    .rc-pagination-item-link {
      color: $color_2;
      border-color: $border-color_1;
    }
  }

  .rc-pagination-item-link {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;
    background-color: $background-color_1;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: none;
    transition: all 0.3s;
  }

  &:focus {
    .rc-pagination-item-link {
      color: $color_2;
      border-color: $border-color_1;
    }
  }
}

.rc-pagination-disabled {
  cursor: not-allowed;

  &:hover {
    cursor: not-allowed;

    .rc-pagination-item-link {
      color: $color_5;
      border-color: $border-color_3;
      cursor: not-allowed;
    }
  }

  &:focus {
    cursor: not-allowed;

    .rc-pagination-item-link {
      color: $color_5;
      border-color: $border-color_3;
      cursor: not-allowed;
    }
  }

  .rc-pagination-item-link {
    color: $color_5;
    border-color: $border-color_3;
    cursor: not-allowed;
  }
}

.rc-pagination-slash {
  margin: 0 10px 0 5px;
}

.rc-pagination-options {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
  display: none;
}

.rc-pagination-options-size-changer.rc-select {
  display: inline-block;
  width: auto;
  margin-right: 8px;
}

.rc-pagination-options-quick-jumper {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  vertical-align: top;

  input {
    width: 50px;
    margin: 0 8px;
  }
}

.rc-pagination-simple {
  .rc-pagination-prev {
    height: 24px;
    line-height: 24px;
    vertical-align: top;

    .rc-pagination-item-link {
      height: 24px;
      background-color: $background-color_2;
      border: 0;

      &::after {
        height: 24px;
        line-height: 24px;
      }
    }
  }

  .rc-pagination-next {
    height: 24px;
    line-height: 24px;
    vertical-align: top;

    .rc-pagination-item-link {
      height: 24px;
      background-color: $background-color_2;
      border: 0;

      &::after {
        height: 24px;
        line-height: 24px;
      }
    }
  }

  .rc-pagination-simple-pager {
    display: inline-block;
    height: 24px;
    margin-right: 8px;

    input {
      box-sizing: border-box;
      height: 100%;
      margin-right: 8px;
      padding: 0 6px;
      text-align: center;
      background-color: $background-color_1;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      outline: none;
      transition: border-color 0.3s;

      &:hover {
        border-color: $border-color_1;
      }
    }
  }
}

.rc-pagination.rc-pagination-disabled {
  cursor: not-allowed;

  .rc-pagination-item {
    background: hsv(0, 0, 96%);
    border-color: $border-color_3;
    cursor: not-allowed;

    a {
      color: $color_5;
      background: transparent;
      border: none;
      cursor: not-allowed;
    }
  }

  .rc-pagination-item-active {
    background: red;
    border-color: $border-color_4;

    a {
      color: $color_6;
    }
  }

  .rc-pagination-item-link {
    color: $color_5;
    background: hsv(0, 0, 96%);
    border-color: $border-color_3;
    cursor: not-allowed;
    border: 0;
  }

  .rc-pagination-item-link-icon {
    opacity: 0;
  }

  .rc-pagination-item-ellipsis {
    opacity: 1;
  }
}

.custom-pagination .rc-pagination-item,
.custom-pagination .rc-pagination-prev,
.custom-pagination .rc-pagination-next {
  border-radius: 50% !important;
  overflow: hidden;
}

.rc-pagination-item-link {
  border: 0 !important;
  font-size: 30px !important;
}

@media all and (-ms-high-contrast: none) {
  .rc-pagination-options {
    * {
      &::-ms-backdrop {
        vertical-align: top;
      }
    }

    vertical-align: top;
  }
}

@media only screen and (max-width: 992px) {
  .rc-pagination-item-after-jump-prev {
    display: none;
  }

  .rc-pagination-item-before-jump-next {
    display: none;
  }

  .custom-pagination .rc-pagination-item,
  .custom-pagination .rc-pagination-prev,
  .custom-pagination .rc-pagination-next {
    border-radius: 50% !important;
    overflow: hidden;
    width: 38px;
    height: 38px;
    margin-right: 5px;
  }

  .rc-pagination-item {
    display: none !important;
  }

  // .rc-pagination-item-1.rc-pagination-item-active {
  //   display: flex !important;
  // }
  .rc-pagination-jump-next,
  .rc-pagination-jump-prev {
    display: none !important;
  }
}

@media only screen and (max-width: 576px) {
  .rc-pagination-options {
    display: none;
  }
}

// New style 12-07-2022
.text-primary {
  color: $primary !important;
}

.text-card-name {
  color: #0f6bbf !important;
}

// New style 13-07-2022
.border-radius-8 {
  border-radius: $border-radius-8;
}

// New style 13-07-2022
.border-radius-0 {
  border-radius: 0 !important;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

// new style 07-07-2022
.border-dark {
  border-bottom: 1px solid $dark !important;
}

.padding-y-12 {
  padding: 12px 0px;
}

.bg-step-gray {
  background-color: $step-gray !important;
}

.truncate-text {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden ! important;
  text-overflow: ellipsis ! important;
}

/* error page */
.error-page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $dark;
  padding: size(30) size(20);

  .error-middle {
    width: 100%;
    max-width: size(800);
    border-radius: size(20);
  }

  h2 {
    font-size: size(20);
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 15px;
  }

  h1 {
    font-size: size(200);
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 size(20);
    color: $primary;
  }

  p {
    margin-bottom: size(20);
    font-size: size(13);
  }

  .back-home {
    .btn {
      padding: size(8) size(20) size(9);
      font-size: size(13);
      border: size(1) solid $primary;
      color: $white;
      border-radius: size(20);
      background: $primary;
    }
  }
}

.connection-overlay-bg {
  position: absolute;
  left: 0;
  top: 0;
  background: $navy;
  width: 100%;
  height: 52px;
}

// New style 06-10-2022
.text-spanish-gey {
  color: $spanish-gey;
}

.border-top-dark {
  border-top: 1px solid $dark;
}

// New style 07-10-2022
.rounded-4 {
  border-radius: size(4);
}

// New style 17-10-2022
.border-secondary-purple {
  border: 2px solid $secondary-purple;
}

// New style 18-10-2022
.border-primary {
  border: 2px solid $primary;
}

.border-color-primary {
  border-color: $primary !important;
}

// New style 21-10-2022
.btn-fill-secondary-purple {
  background-color: $secondary-purple;
  color: $white;
  transition: $transition-base;
  border-radius: 0 !important;

  &:hover,
  &:active {
    background-color: $secondary-purple-hover;
    transition: $transition-base;
  }
}

.btn-course-details-white {
  border: 2px solid $white;
  color: $white;
  transition: $transition-base;

  &:hover,
  &:active {
    background-color: $white;
    color: $primary;
    transition: $transition-base;
  }
}

// New style 31-10-2022
.bg-secondary {
  background-color: $secondary;
}

.bg-secondary-dark {
  background-color: $secondary-dark;
}

.bg-transparent {
  background-color: transparent;
}

// New style 01-11-2022
.border-bottom-blueberry-whip {
  border-bottom: 1px solid $blueberry-whip;
}
.border-bottom-dark{
  border-bottom: 1px solid $dark;
}
.bg-darken {
  background: darken($navy, 5%);
}

// New style 03-11-2022
.bg-navy-dark {
  background-color: $navy-dark;
}

// New style 18-11-2022
.bg-primary {
  background-color: $primary;
}

.bg-secondary-light {
  background-color: $secondary-light;
}

.border-bottom-white {
  border-bottom: 1px solid $white;
}

// New style 21-11-2022
.border-blueberry-whip {
  border: 1px solid $blueberry-whip !important;
}

// New style 24-11-2022
.text-gray-darker {
  color: $gray-darker !important;
}

.border-bottom-dark-2 {
  border-bottom: 2px solid $dark !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

// New style 28-11-2022
.btn-course-details-primary {
  border: 2px solid $primary;
  color: $primary;
  transition: $transition-base;

  &:hover,
  &:active {
    background-color: $primary;
    color: $white;
    transition: $transition-base;
  }
}

.bg-primary-light {
  background-color: $primary-light;
}

.link-blue {
  a {
    color: $primary;
    font-weight: bold;

    &:hover,
    &:active {
      color: $darkSecondary;
    }
  }
}

// New style 29-11-2022
.rounded-tl-bl-8 {
  border-radius: 8px 0 0 8px;
}

// New style 30-11-2022
.bg-secondary-purple {
  background-color: $secondary-purple;
}

.border-width-1-1-1-3 {
  border-width: 1px 1px 1px 3px;
}

.mt-6 {
  margin-top: -6px;
}

// New style 05-12-2022
.border-color-dark {
  border-color: $dark;
}

.my-12 {
  margin: size(12) 0;
}

// New style 19-12-2022
.r-16 {
  right: 16px;
}

.mb-12 {
  margin-bottom: size(12);
}

.w-h-74-42 {
  width: 74px;
  height: 42px;
}
.w-h-100-sm{
   @include media(down, $breakpoint-sm) {
    width: 110px;
    height: 110px;
  }
}
.w-h-120-68 {
  width: 120px;
  height: 68px;
}

.sticky-fix {
  position: sticky;
  top: 80px;
}

.btn-circle {
  border-radius: 100% !important;
}

// New style 19-01-2023
.text-placeholder {
  ::placeholder {
    color: $secondary !important;
    opacity: 0.54;
  }
}

// New style 20-01-2023
.mx-h-200 {
  max-height: size(200);
}

// New style 24-01-2023
.mn-h-30 {
  min-height: size(30);
}

.border-dark-2 {
  border: 2px solid $dark !important;
}

// New style 27-01-2023
.py-14 {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.px-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.py-60 {
  padding-top: size(60) !important;
  padding-bottom: size(60) !important;

  @include media(down, $breakpoint-md) {
    padding-top: size(30) !important;
    padding-bottom: size(30) !important;
  }
}

.py-120 {
  padding-top: size(120) !important;
  padding-bottom: size(120) !important;

  @include media(down, $breakpoint-md) {
    padding-top: size(60) !important;
    padding-bottom: size(60) !important;
  }
}

.pt-60 {
  padding-top: size(60) !important;

  @include media(down, $breakpoint-md) {
    padding-top: size(30) !important;
  }
}

.pb-60 {
  padding-bottom: size(60) !important;

  @include media(down, $breakpoint-md) {
    padding-bottom: size(30) !important;
  }
}

.gray-lighter {
  color: $gray-lighter;
}

.w-h-74-42 {
  width: size(74);
  height: size(42);
}

.w-h-84-48 {
  width: size(84);
  height: size(48);
}

.no-outline:focus {
  outline: none !important;
  box-shadow: none !important;
}

.f-12-w-500 {
  font-size: 12px;
  font-weight: 500;
  color: #051f4e;
}

// New style 30-03-2023
.ml--16 {
  margin-left: -16px;
}

.skill-type-style {
  width: auto;

  background: rgba(15, 107, 191, 0.12);
  border-radius: 50px;
}

.skill-type-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* Primary */

  color: #0f6bbf;
}

// New style 31-03-2023
.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-33px {
  width: 33px;
}

.title-container {
  height: 44px;
  display: flex;
  align-items: center;
}

.title-container h2 {
  line-height: 44px;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.link-secondary.text-secondary {
  color: $secondary;

  &:hover,
  &:active {
    color: $secondary !important;
  }
}

.groups-members-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.25px;

  /* Heading */

  color: #051f4e;
}

.object-fill {
  object-fit: fill !important;
}

.btn {
  &.btn-small-icon {
    font-size: size(11);
    padding: size(0) size(4);
    border-radius: size(4);
    height: 22px;

    svg {
      width: size(14);
      margin-right: size(2);
    }

    &.btn-outline-gray {
      color: $secondary;

      svg {
        fill: $secondary;
      }

      &:hover,
      &:active {
        background-color: rgba($primary, 0.12);
        color: $secondary;
      }
    }

    &.btn-outline-secondary-purple {
      border-width: 1px;
    }
  }

  &.btn-primary {
    svg {
      fill: $white;
    }
  }

  &.btn-outline-primary {
    svg {
      fill: $primary;
    }

    &:hover,
    &:active {
      svg {
        fill: $white;
      }
    }
  }

  &.btn-outline-secondary-purple {
    svg {
      fill: $secondary-purple;
    }

    &:hover,
    &:active {
      svg {
        fill: $white;
      }
    }
  }
}

.border-top-w-3 {
  border-top-width: 3px !important;
}

.article-bg-image {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  // backdrop-filter: blur(8px);
  // -webkit-backdrop-filter: blur(8px);
  // margin: -8px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.2);
}

.article-image {
  top: 0%;
  height: 403px;
  /* filter: none !important; */
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0 auto;
  display: block;
}


.secondary-purple-divider {
  width: 80px;
  height: 4px;
  border-radius: $border-radius-16;
  background: $secondary-purple;
}

.border-right-geyser {
  border-right: 1px solid $geyser;
}

.bg-warning-light {
  background-color: rgba($warning, .2) !important;
}


// security
.security-accordion {
  .accodion-btn-title {
    border: $border-width solid $geyser;
    width: 100%;
    background: none;
  }
  .collapse {
    border: $border-width solid $geyser;
    border-top: none;
  }
}

.vertical-middle{
  vertical-align: middle !important;
}
.b-dark{
  border: 1px solid $dark !important;
}
.hover-primary{
    &:hover,&:focus,&:active{
      background-color: $primary !important;
      color: white !important;
      transition: 0.3s;
    }
}
.active-border-blue{
  &:active,&:focus,&:hover{
    border:1px solid $primary !important;
    outline: 0;
  }
 
}