.yliway-image {
  border-radius: 100px;
  cursor: pointer;
}

.yliway-image-extra-small {
  width: 33px;
  height: 33px;
}

.yliway-image-small {
  width: 46px;
  height: 46px;
}

.yliway-image-medium {
  width: 96px;
  height: 96px;
}

.yliway-image-big {
  width: 120px;
  height: 120px;
}
